<!-- <h1>Customer Lookup</h1>

<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    {{input value=email id="email"}}
  </div>

  <button class="btn btn-primary" {{action 'emailLookup'}}>Submit</button>
</form> -->


<h1>Dispensary Look Up</h1>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name"}}
  </div>

  <button class="btn btn-primary" {{action 'nameLookup'}}>Submit</button>
</form>
